.AssemblyAIHelper{
    .ais-VoiceSearch{
        &-button{
            width: 140px;
            display: inline-block;
            font-weight: 400;
            background-color: #3392FE;
            color: white;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: background-color .15s ease-in-out;
            cursor: pointer;

            &:active, &:focus, &:hover{
                outline: none;
                background-color: #2E80DC;
            }
        }

        &-status > div{
            padding: .75rem 1.25rem;
            margin: 1rem 0;
            border: 1px solid #f5c6cb;
            border-radius: .25rem;
            background-color: #f8d7da;
            color: #721c24;
        }
    }

    &--listening{
        .ais-VoiceSearch-button{
            background-color: #E74C3C;

            animation: assemblyaihelper-pulse 1s infinite;

            &:hover, &:active, &:focus{
                background-color: #E74C3C;
            }
        }
    }
}

@keyframes assemblyaihelper-pulse{
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}