$cc_primary: #5369ff;

.assemblyai{
    position: relative;
    margin-bottom: 1rem;

    &.shake {
        animation-name: shake;
        animation-duration: 700ms;
        animation-timing-function: ease-in-out;
    }

    #assemblyai-cancel{
        display: none;
    }

    input{
        display: block;
        width: calc(100% - 2rem - 2px);
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid lighten($cc_primary, 15%);
        border-radius: .3rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    &-loader{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 0;
        background-color: lighten($color: $cc_primary, $amount: 10%);
        border-radius: .3rem;
        color: white;
        transition: .5s;
        padding-right: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }

    &-prepend{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 80px;
        background-color: $cc_primary;
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
        border: 1px solid transparent;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        color: white;
        outline: none;
        box-shadow: none;
        transition: width .3s;
        cursor: pointer;

        &:hover, &:active, &:focus{
            background-color: darken($color: $cc_primary, $amount: 5%);
        }
    }

    &.recording{
        .assemblyai-loader{
            opacity: 1;
            width: 180px;
        }

        #assemblyai-record{
            display: none;
        }

        #assemblyai-cancel{
            display: flex;
        }
    }

    &.disabled{
        #assemblyai-record{
            opacity: .3;
            pointer-events: none;
            cursor: not-allowed;
        }
    }
}

@keyframes shake {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
    }
}